/* first, modify any default values on root element */
:root {
    --bs-primary: #ba59b0;
    --bs-primary-rgb: 186, 89, 176;
}
/* second, select the specific elements and modify their variables */
.btn-primary{
    --bs-btn-bg: #ba59b0;
    --bs-btn-hover-bg: #803c79;
    --bs-btn-hover-border-color: #803c79;
}
/* third, select the element and update the property directly */
.btn-primary{
    border-color: var(--bs-primary);
}